.userDetails {
  text-align: center;
  margin-bottom: 20px;
}

.userDetails__button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  width: 500px; /* Szerokość przycisku */
  margin-left: 100px; /* Odległość od lewej krawędzi */
}

.userDetails__button:hover {
  background-color: #f0f0f0;
}

.userDetails__roles {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.userDetails__role {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
}

.userDetails__role-Administrator {
  background-color: #becaca; /* Kolor dla roli 0 */
}

.userDetails__role-Student {
  background-color: #7ec580; /* Kolor dla roli 1 */
}

.userDetails__role-Teacher {
  background-color: #FF9800; /* Kolor dla roli 2 */
}

.userDetails__role-User {
  background-color: #c580d1; /* Kolor dla roli 3 */
}

.userDetails__name {
  margin-left: 10px;
  font-size: 16px;
}

.userDetails__details {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  width: 500px; /* Szerokość rozwijanego diva */
  margin: 10px 0; /* Odległość od góry i dołu */
  text-align: left;
  margin-left: 100px;
}

.userDetails__details p {
  margin: 5px 0;
  font-size: 14px;
}

.userDetails__details .error {
  color: red;
  font-size: 14px;
}
