body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
}

.plan-lekcji {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.week {
  display: flex;
  justify-content: space-between;
}

.day-column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  height: 800px; /* Container height for 6:00 to 18:00 */
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
}

.day-column h3 {
  text-align: center;
  background-color: #007acc;
  color: white;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.day-schedule {
  position: relative;
  height: 100%;
}

.lesson-box {
  position: absolute;
  width: calc(100% - 20px);
  left: 10px;
  background-color: #79c0f0;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.lesson-box:hover {
  background-color: #a0bbc9;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.lesson-topic {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
  text-align: center;
}

.lesson-time {
  font-size: 0.9em;
  text-align: center;
}

@media (max-width: 768px) {
  .week {
    flex-direction: column;
  }

  .day-column {
    height: auto;
    margin-bottom: 20px;
  }
}
